# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
target/
.idea/
dependency-reduced-pom.xml
~$*

# Dados ETL
csv/
xlsx_input/
*.jar

# Arquivos de ambiente
.env
.env.dev
*.env*
/generated/prisma

node_modules/
